input[type="submit"] {
    padding: 2px 8px;
	margin-top: 0px;
    margin-bottom: 0px;
}

table {
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0 15px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 1px;
    border: 1px solid #0F1A26 !important;
}

th {
    background-color: #0F1A26;
    font-size: 10pt;
    padding: 6px 5px;
}

tr {
    color: #fff;
    padding: 6px 4px;
    background-color: #162535 !important;
}

tr:nth-child(odd) {
    background-color: #111F2D !important;
}
td {
    padding: 5px 8px;
    text-align: center;
}
div.main-content center{
	padding-top: 50px;
}
